
body {
    background-color: #f8f5f8;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px;	
    color: #;
}     

p {
    text-align: left;
    font-size: 16px;
    font-family: Lucida Sans Unicode;
}

p.code {
    text-align: left;
    font-size: 16px;
    font-family: courier, courier new, serif;
}

a:link, a:visited {
    color: #d46a43;          
}

.section {
  padding: 1em 0;
}

.header {
  background: linear-gradient(to bottom, #2C2E40 0%, #5f5b71 100%); 
  color: #d5d5d5;
  padding: 1em 0 2em;
}

div#pdf {
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    
}

table {
	table-layout: auto;
}
	

.bold_text {
    font-weight: bold;
}

.tab_1 {
  padding-left: 40px;
}

.tab_2 {
  padding-left: 80px;
}

.tab_3 {
  padding-left: 120px;
}

.tab_4 {
  padding-left: 160px;
}

.tab_5 {
  padding-left: 200px;
}

.tab_6 {
  padding-left: 240px;
}

.tab_7 {
  padding-left: 280px;
}

ul {
	list-style-type: none;
}

ul li:before {
	content: '\2014';
	position: absolute;
	margin-left: -20px;
}


img {
box-shadow: 0 0 4px 0 rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 4px 8px 0 rgba(17,22,26,.08);
vertical-align: middle;
}